<!DOCTYPE html>
<html>
	<head>
		<title>Изучаем Vue.js</title>
		<meta charset="utf-8" />

		<style>
			.region{
			    background-color: #999;
			    width: 100px;
			    height: 100px;
			    display: inline-block;
			    margin: 10px;
			}
			.yellow{ 
			    background-color: yellow; 
			}
			.red{ 
			    background-color: red; 
			}
			.blue{ 
			    background-color: blue; 
			}
			.green{ 
			    background-color: green; 
			}
		</style>

	</head>
	<body>
		<div id="app">
		    <div class="region" v-bind:style="[colorStyle, sizeStyle]"></div>
		    <br><br>
		    <input type="text" v-model="color" />
		    <br><br>
		    <input type="number" v-model="width" />
		    <br><br>
		    <input type="number" v-model="height" />
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script>
		    var app = new Vue({
		        el: '#app',
		        data: {
		            color: 'red',
		            width: 75,
		            height: 75
		        },
		        computed:{
		            colorStyle: function(){
		                return {
		                    'background-color': this.color
		                }
		            },
		            sizeStyle: function(){
		                return {
		                    height: this.height + 'px', 
		                    width: this.width + 'px'
		                }
		            }
		        }
		    });

		    setInterval(function() {
		    	if(app.width < 1000){
			    	app.width += 10;
			    	app.width + 'px';
			    }
			    else
		    	{

		    	}
		    }, 100);
		</script>

	</body>
</html>